Have to:


*   Import
*   Remove unimportant columns
*   Remove rows that have NaN in 72 (pol affil)
*   Then we score everything besides the likert scale questions
*   Last we change the likert scale NaN's to zeroes, and score them
*   Store all scores seperate then add to seperate database

Importing data

In [ ]:
##Evan Lysko
##4/12/2021
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


data = pd.read_csv("/content/drive/MyDrive/Internship/Python/All_Data.csv")
data

     Respondent ID  ...  Unnamed: 84
0              NaN  ...   Not Listed
1     1.256572e+10  ...          NaN
2     1.256406e+10  ...          NaN
3     1.256390e+10  ...          NaN
4     1.256342e+10  ...          NaN
..             ...  ...          ...
221   1.253940e+10  ...          NaN
222   1.253940e+10  ...          NaN
223   1.253939e+10  ...          NaN
224   1.253939e+10  ...          NaN
225   1.253935e+10  ...          NaN

[226 rows x 85 columns]

Cleaning up the data by removing the unecessary columns and rows.

In [ ]:
drop_columns = ["Collector ID", "Start Date", "End Date", "IP Address", "Email Address", "First Name",	"Last Name",	"Custom Data 1", "Unnamed: 84"]
clean_data = data.drop(drop_columns, axis=1)
clean_data = clean_data.drop([0])
clean_data
clean_data.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            216, 217, 218, 219, 220, 221, 222, 223, 224, 225],
           dtype='int64', length=225)

Now we need to figure out what do to with unanswered questions (NaN). Can either get rid of any that skipped, make skip=0 so it will be neutral, or set a limit for how many skips there can be before a response is thrown out.

In [ ]:
clean_data.iloc[:, 72]

1      NaN
2        1
3        1
4      NaN
5      NaN
      ...
221      1
222      4
223      2
224      2
225    NaN
Name: What is your political affiliation?, Length: 225, dtype: object

Make this if it == NaN, not zero, that way I can get rid of useless rows without effecting slider scores by changing to zero.

In [ ]:
clean_data = clean_data[clean_data['What is your political affiliation?'].notna()]
clean_data

     Respondent ID  ... To which gender identity do you most identify?
2     1.256406e+10  ...                                              1
3     1.256390e+10  ...                                              1
6     1.255732e+10  ...                                              1
7     1.255685e+10  ...                                              1
8     1.255670e+10  ...                                              1
..             ...  ...                                            ...
218   1.253941e+10  ...                                              1
221   1.253940e+10  ...                                              1
222   1.253940e+10  ...                                              2
223   1.253939e+10  ...                                              1
224   1.253939e+10  ...                                              1

[175 rows x 76 columns]

Slicing into empathy, aggreeableness, and so on.

In [ ]:
scores = pd.DataFrame(clean_data['What is your political affiliation?'])
scores['Vote'] = clean_data.iloc[:, 73]
scores['Age'] = clean_data.iloc[:, 74]
scores['Gender'] = clean_data.iloc[:, 75]
scores['Stay at home'] = clean_data.iloc[:, 70]
scores['Social distancing'] = clean_data.iloc[:, 68]
scores['Mask wearing'] = clean_data.iloc[:, 63]
scores

    What is your political affiliation? Vote  ... Social distancing Mask wearing
2                                     1    1  ...                98          100
3                                     1    1  ...                75           25
6                                     1    1  ...                25            5
7                                     2    2  ...                97           97
8                                     1    1  ...                58          100
..                                  ...  ...  ...               ...          ...
218                                   1    1  ...                75          100
221                                   1    1  ...               100          100
222                                   4    6  ...               100          100
223                                   2    2  ...               100          100
224                                   2    2  ...               100          100

[175 rows x 7 columns]

In [ ]:
clean_likert = clean_data.fillna(0)
clean_likert

     Respondent ID  ... To which gender identity do you most identify?
2     1.256406e+10  ...                                              1
3     1.256390e+10  ...                                              1
6     1.255732e+10  ...                                              1
7     1.255685e+10  ...                                              1
8     1.255670e+10  ...                                              1
..             ...  ...                                            ...
218   1.253941e+10  ...                                              1
221   1.253940e+10  ...                                              1
222   1.253940e+10  ...                                              2
223   1.253939e+10  ...                                              1
224   1.253939e+10  ...                                              1

[175 rows x 76 columns]

In [ ]:
empathy_items = pd.DataFrame(clean_likert.iloc[:,2:32])
empathy_items = empathy_items.apply(pd.to_numeric, errors='coerce')
empathy_items

     I sometimes find it difficult to see things from the ‘other guy’s’ point of view.  ...  Before I do something I try to consider how my friends will react to it.
2                                                    0                                  ...                                                  1
3                                                   -1                                  ...                                                  1
6                                                    2                                  ...                                                 -1
7                                                    0                                  ...                                                  1
8                                                   -1                                  ...                                                 -1
..                                                 ...                                  ...                                                ...
218                                                 -2                                  ...                                                  1
221                                                 -2                                  ...                                                  1
222                                                 -2                                  ...                                                  0
223                                                 -1                                  ...                                                  1
224                                                 -2                                  ...                                                  1

[175 rows x 30 columns]

In [ ]:
scores['Empathy'] = empathy_items.sum(axis=1)
scores

    What is your political affiliation? Vote  ... Mask wearing Empathy
2                                     1    1  ...          100      19
3                                     1    1  ...           25      19
6                                     1    1  ...            5      17
7                                     2    2  ...           97      19
8                                     1    1  ...          100       7
..                                  ...  ...  ...          ...     ...
218                                   1    1  ...          100      26
221                                   1    1  ...          100      22
222                                   4    6  ...          100       6
223                                   2    2  ...          100      32
224                                   2    2  ...          100      14

[175 rows x 8 columns]

In [ ]:
agreeableness_items = pd.DataFrame(clean_likert.iloc[:,32:44])
agreeableness_items = agreeableness_items.apply(pd.to_numeric, errors='coerce')
agreeableness_items

     I am someone who is compassionate, has a soft heart.  ...  I am someone who assumes the best about people.
2                                                    1     ...                                                1
3                                                    1     ...                                                1
6                                                    2     ...                                               -1
7                                                    2     ...                                                2
8                                                    2     ...                                                1
..                                                 ...     ...                                              ...
218                                                  1     ...                                                0
221                                                  2     ...                                                2
222                                                  1     ...                                                0
223                                                  1     ...                                               -1
224                                                  1     ...                                                1

[175 rows x 12 columns]

In [ ]:
scores['Agreeableness'] = agreeableness_items.sum(axis=1)
scores

    What is your political affiliation? Vote  ... Empathy Agreeableness
2                                     1    1  ...      19            17
3                                     1    1  ...      19            16
6                                     1    1  ...      17            -5
7                                     2    2  ...      19            22
8                                     1    1  ...       7             6
..                                  ...  ...  ...     ...           ...
218                                   1    1  ...      26            10
221                                   1    1  ...      22            23
222                                   4    6  ...       6             5
223                                   2    2  ...      32             7
224                                   2    2  ...      14            16

[175 rows x 9 columns]

In [ ]:
narcissism_items = pd.DataFrame(clean_likert.iloc[:,44:53])
narcissism_items = narcissism_items.apply(pd.to_numeric, errors='coerce')
narcissism_items

     People see me as a natural leader.  ...  I insist on getting the respect I deserve.
2                                     1  ...                                          -2
3                                     2  ...                                           1
6                                     2  ...                                           2
7                                     1  ...                                          -1
8                                     0  ...                                           1
..                                  ...  ...                                         ...
218                                   1  ...                                           0
221                                   1  ...                                           1
222                                   2  ...                                          -2
223                                   2  ...                                           1
224                                   1  ...                                           1

[175 rows x 9 columns]

In [ ]:
scores['Narcissism'] = narcissism_items.sum(axis=1)
scores

    What is your political affiliation? Vote  ... Agreeableness Narcissism
2                                     1    1  ...            17         -7
3                                     1    1  ...            16          7
6                                     1    1  ...            -5         10
7                                     2    2  ...            22         -7
8                                     1    1  ...             6         -7
..                                  ...  ...  ...           ...        ...
218                                   1    1  ...            10          0
221                                   1    1  ...            23          1
222                                   4    6  ...             5         10
223                                   2    2  ...             7        -10
224                                   2    2  ...            16         -1

[175 rows x 10 columns]

In [ ]:
psychopathy_items = pd.DataFrame(clean_likert.iloc[:,53:61])
psychopathy_items = psychopathy_items.apply(pd.to_numeric, errors='coerce')
psychopathy_items

     I like to get revenge on authorities.  ...  I’ll say anything to get what I want.
2                                       -2  ...                                     -2
3                                       -1  ...                                     -1
6                                        2  ...                                      1
7                                       -2  ...                                     -2
8                                       -2  ...                                     -1
..                                     ...  ...                                    ...
218                                     -1  ...                                     -2
221                                     -2  ...                                     -2
222                                     -2  ...                                     -1
223                                      1  ...                                     -1
224                                     -2  ...                                     -1

[175 rows x 8 columns]

In [ ]:
scores['Psychopathy'] = psychopathy_items.sum(axis=1)
scores

    What is your political affiliation? Vote  ... Narcissism Psychopathy
2                                     1    1  ...         -7         -16
3                                     1    1  ...          7         -13
6                                     1    1  ...         10           9
7                                     2    2  ...         -7         -16
8                                     1    1  ...         -7         -10
..                                  ...  ...  ...        ...         ...
218                                   1    1  ...          0         -14
221                                   1    1  ...          1         -16
222                                   4    6  ...         10          -7
223                                   2    2  ...        -10          -7
224                                   2    2  ...         -1         -11

[175 rows x 11 columns]

In [ ]:
scores.to_csv("/content/drive/MyDrive/Internship/Python/scores.csv")